node_modules
.vscode

*.js
*.d.ts
partials
addToCart
autoMoreRefinements
autoSearch
constants
directMoreRefinements
directSearch
invalid
moreRefinements
order
removeFromCart
search
segment
utils
viewCart
viewProduct